.panel-heading {
  background-color: #e3e9f2;
}

.panel-body {
  background-color: #edf2f9;
}
.name img {
  width: 100%;
  float: right;
  border: 10px solid #9fb2ce;
}
.top-right {
  position: absolute;
  top: 50px;
  right: 15px;
  background-color: white;
  opacity: 0.5;
  padding-left: 25px;
  padding-right: 25px;
  border: 5px solid black;
}

.top-right ul {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.top-right h1 {
  color: black;
  font-weight: bold;
}
.listtitle {
  font-weight: bold;
}
